@{
    ViewData["Title"] = "Home Page";
}

<link rel="images" href="css/site.css" />
<div class="text-center">
    <h1>Welcome to Health Tracker</h1>
    <h2>Your Personal Blood Test Tracker</h2>
    <h3>
        Take control of your health by seamlessly monitoring and analyzing your blood test results.
        Stay informed, set personalized goals, and access valuable insights to optimize your well-being.
        Begin your journey to better health with our specialized blood test tracking tools today!
    </h3>
    <h4></h4>
</div>

