@{
    ViewData["Title"] = "Home Page";
}

<body id="background">
<link rel="images" href="css/site.css/Images/HTBackground_files/018c61c992a61524.vendor.itr.css"/>
<div class="text-center">
    <h1>Welcome to Health Tracker<br> Your Personal Blood Test Tracker</h1>
    
    <h2>
        Take control of your health by monitoring and analyzing your blood test results.<br>
        Stay informed, set personalized goals, & access valuable insights to optimize your well-being.<br>
        Begin your journey to better health with our specialized blood test tracking tools today!
    </h2>


    <h4></h4>
</div>

</body>

