@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>Important</h2>

<p style="background-color: lightblue; color: darkred; text-align: center">By using this health tracking website, you acknowledge and consent to the storage of your personal health 
    information.<br> Please enter your information only if you are comfortable with this data being securely stored 
    for the purpose of providing you with personalized health insights and services. </p>
